
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 138px;
    padding: 0 64px;
    box-sizing: border-box;
}

.logoBlock{
    display: flex;
    align-items: center;
    img{
        width: 38px;
        height: 38px;
        margin-right: 18px;
    }
}

.title{
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #181818;
}

.cartBar{
    cursor: pointer;
    color: white;
    display: flex;
    background-color: #FE5F1E;
    border-radius: 30px;
    padding: 12px 24px;
    &:hover{
        opacity: .85;
    }
}

.cartSum{
    display: flex;
    &::after{
        margin-left: 12px;
        content: "";
        display: block;
        height: 100%;
        width: 1px;
        background-color: white;
    }
}

.cartQuantity{
    margin-left: 12px;
}



  
